<!DOCTYPE html>
<html lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta charset="utf-8">
	<title><%= "#{current_article.title} | " if current_article %><%= data.site.title %></title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="author" content="konitter"><% if current_article
	title = current_article.title + ' | '
	description = strip_tags(current_article.summary(250,' [...]')).gsub(/\r\n|\r|\n/,'')
	type = 'article'
else
	description = data.site.description
	type = 'blog'
end %>
	<meta property="og:title" content="<%= title %><%= data.site.title %>">
	<meta property="og:site_name" content="<%= data.site.title %>">
	<meta property="og:description" content="<%= description %>">
	<meta property="og:type" content="<%= type %>">
	<meta property="og:url" content="<%= data.site.url %><%= current_article.url if current_article %>">
	<meta property="og:image" content="<%= data.site.url %>/img/ogp.png">
	<meta property="fb:admins" content="100000698495270">
	<meta property="fb:app_id" content="231858050163702">
	<meta property="article:publisher" content="https://www.facebook.com/konitter">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="alternate" type="application/rss+xml" href="/feed.xml" title="<%= data.site.title %>">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<header id="header">
	<a href="/" id="logo"><img src="/img/r.png" alt="<%= data.site.title %>"></a>
</header>
<main role="main">
<%= yield %>
</main>
<script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-10906036-1']);
_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);
(function() {
	var ga = document.createElement('script'); ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>
