<% wrap_layout :layout do %>
	<article>
		<header>
			<h1><%= current_article.title %></h1>
			<div class="meta"><%= time_tag current_article.date %> - by <a href="/about/"><%= data.site.author %></a></div>
		</header>
		<div class="entry">
<%= yield %>
		</div>
	</article>
	<aside class="share">
		<ul>
			<li><div class="fb-like" data-send="false" data-layout="button_count" data-width="auto" data-show-faces="false"></div><div id="fb-root"></div><script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=231858050163702";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script></li>
			<li><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="konitter" data-lang="en">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script></li>
		</ul>
	</aside>
	<ul class="pager">
<% if prev_article = current_article.previous_article %>
		<li>Older Entry: <%= link_to prev_article.title, prev_article %></li>
<% end %>
<% if next_article = current_article.next_article %>
		<li>Newer Entry: <%= link_to next_article.title, next_article %></li>
<% end %>
	</ul>
<% end %>